extends layouts/login-and-registration-layout

block content

    p User object data:

    p email: #{user.email}
    p firstName: #{user.firstName}
    p secondName: #{user.secondName}
    p birthday: #{user.birthday}
    p sex: #{user.sex}
    p sexualPreferences: #{user.sexualPreferences}
    p location: #{user.location}
    p education: #{user.education}
    p profession: #{user.profession}
    p interests: #{user.interests}
    p personalInfo: #{user.personalInfo}
